.top{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    background-color: white;
    height: 70px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    z-index: 2;
    padding: 0 20px;
}
.side{
    position: sticky;
    top: 70px;
    left: 0;
    background-color: white;
    z-index: 1;
    height: 100vh;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}
.side-bar-link{
    text-decoration: none;
    color: #495057;
    font-size: 18px;
    transition: 0.3s; 
    margin: 8px;
    border-radius: 6px;
}
.side-bar-link:hover{
    color: black;
}
.side .active{
    background-color: #f2f3fe;
    color: #038edc;
}

/* background-color: #232327; */