.btn{
    background-color: white;
    outline: none;
    border: 0;
    padding: 20px 30px;
    border-radius: 6px;
}
.btn-primary{
    background-color: green;
    color: white;
    font-size: 18px;
    cursor: pointer;
}