.err40-{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.div-err{
    padding: 15px 100px;
    box-shadow: inset 4px 4px 4px #cbced1, inset -4px -4px 4px #fff;
}
.div-err h1{
    font-size: 100px;
    color: #818181;
}
.div-err h5{
    color: rgb(255, 122, 122);
    text-align: center;
    box-shadow: 4px 4px 4px #cbced1, -4px -4px 4px #fff;
}


.container-all
{
height:118vh;
margin:-40px 0 0 0 ;
background: radial-gradient(at 50% -20%, #908392, #0d060e) fixed;
}


#handboy
{
   animation: swing ease-in-out 1.3s infinite alternate;
    transform-origin: 98% 98%;
    transform-box: fill-box;
    
}


#girllight
{
   animation: swing ease-in-out 1.3s infinite alternate;
    transform-origin: 0% 97%;
    transform-box: fill-box;
}

#hairgirl
{
    animation: swinghair ease-in-out 1.3s infinite alternate;
   transform-origin: 60% 0%;
    transform-box: fill-box;
  
}

#zero
{
  transform-origin:bottom;
  transform-box:fill-box;
  
}

/*************swing************/
@keyframes swing {
    0% { transform: rotate(10deg); }
    100% { transform: rotate(-10deg); }
}


/*************swing hair************/
@keyframes swinghair {
    0% { transform: rotate(6deg); }
    100% { transform: rotate(-6deg); }
}